/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
.swiper-container{ width:100%;}
.services_icon{ padding:4.5% 0;}
    .toogle_wrap{width:93%;}
}

@media screen and (max-width: 480px) {
    .round_img{padding:15% 0px;}
    ul.social li{padding:6% 0;}
    .services_icon{padding:4.3% 0;}
    .menu ul li{  padding:5% 0%;width:28.5%;margin:1% 0 2% 3.5%;}
}
@media screen and (max-width: 360px) {
    .services_icon{padding:4.5% 0;}
    .menu ul li{  padding:4.6% 0.3%;width:28.5%;margin:1% 0 2% 3.2%;}
}
@media screen and (max-width: 320px) {
    .borders ul li{padding:4% 0.1%;width:27%;}
    .menu ul li{  padding:4.1% 0.1%;width:28.5%;margin:1% 0 2% 3.5%;}
	.menu-img-academy { width:35%; }
}

/*  HI RES DEVICES ----------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    
    
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
     /*   background: url(images/bg/appbg-480x800.jpg) no-repeat top center;background-attachment:fixed; */
        
    }
    .user-headline-wrapper{
   width: 100%;
   margin: 0 auto;
}

.user-headline-wrapper .user-headline-wrapright{
   float: left;
   width: 100%;
}
.user-headline-wrapper .user-headline-wrapright .user-headline-right{
   margin-left: 110px;
   height: 90px;
}
.user-headline-wrapper .user-headline-left{
   float: left;
   width: 90px;
   margin-left: -100%;
   height: 90px;
}

.member-info-panel .member-info-img {
	width:100px;
	height:100px;
	border:3px solid #fff;
  margin-top:-50px;
  float:left;
  z-index:999;
}

.member-info-panel .user-headline-data {
    float:left;
}
.member-info-panel .user-headline-data .name {
    font-size:14px;
    font-weight: 700;
}
.member-info-panel .user-headline-data .mail {
    color:#c5c5c5;
    font-size: 11px;
}
    
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    
}

@media only screen and (min-device-width : 320px) {
	.gallery-wrapper .tp-grid img {
    	width:115px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 375px) {
	.gallery-wrapper .tp-grid img {
    	width:130px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 414px) {
	.gallery-wrapper .tp-grid img {
    	width:150px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 720px) {
	.gallery-wrapper .tp-grid img {
    	width:250px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 480px) {
	.gallery-wrapper .tp-grid img {
    	width:180px;
    	height:auto;
    }
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #main-bg-wrapper {
		background-color:black;
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	
}