/* CSS Media Queries
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 800px) {
.swiper-container{ width:100%;}
.services_icon{ padding:4.5% 0;}
    .toogle_wrap{width:93%;}
}

@media screen and (max-width: 480px) {
    .round_img{padding:15% 0px;}
    ul.social li{padding:6% 0;}
    .services_icon{padding:4.3% 0;}
    .menu ul li{  padding:5% 0%;width:28.5%;margin:1% 0 2% 3.5%;}
}
@media screen and (max-width: 360px) {
    .services_icon{padding:4.5% 0;}
    .menu ul li{  padding:4.6% 0.3%;width:28.5%;margin:1% 0 2% 3.2%;}
}
@media screen and (max-width: 320px) {
    .borders ul li{padding:4% 0.1%;width:27%;}
    .menu ul li{  padding:4.1% 0.1%;width:28.5%;margin:1% 0 2% 3.5%;}
}

/*  HI RES DEVICES ----------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    
    /* Border radius
    /*------------------------------------------*/
    .radius4{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
    .radius5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
    .radius6{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
    .radius8{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
    .radius10{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
    .radius20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
    .radius25{-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;}
    .radius200{-webkit-border-radius:200px;-moz-border-radius:200px;border-radius:200px}
    
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
     /*   background: url(images/bg/appbg-480x800.jpg) no-repeat top center;background-attachment:fixed; */
        
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    
}

@media only screen and (min-device-width : 320px) {
	.gallery-wrapper .tp-grid img {
    	width:115px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 375px) {
	.gallery-wrapper .tp-grid img {
    	width:130px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 414px) {
	.gallery-wrapper .tp-grid img {
    	width:150px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 720px) {
	.gallery-wrapper .tp-grid img {
    	width:250px;
    	height:auto;
    }
}

@media only screen and (min-device-width : 480px) {
	.gallery-wrapper .tp-grid img {
    	width:180px;
    	height:auto;
    }
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    #main-bg-wrapper {
		background-color:black;
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	
}