<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.jokermedya.powerfull"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Powerfull Club</name>

    <description>
        Powerfull Club App
    </description>

    <author href="http://jokermedya.com" email="support@jokermedya.com">
        Jokermedya Dev Team 
    </author>

    <access origin="*" />
</widget>
