<html>
<head>
      <meta charset="utf-8" />
      <meta name="format-detection" content="telephone=no" />
      <meta name="msapplication-tap-highlight" content="no" />
      <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
      
      <link rel="stylesheet" type="text/css" href="css/reset.css" />
      <link rel="stylesheet" type="text/css" href="css/app.css" />
      <link rel="stylesheet" type="text/css" href="css/responsive.css" />
      
      <!-- theme styles -->
      <link rel="stylesheet" type="text/css" href="theme/orange/theme.css" />
      
      
      <!--  jquery plugin style -->
      <link rel="stylesheet" type="text/css" href="css/jquery/swipebox.css" />
      <link rel="stylesheet" type="text/css" href="css/jquery/idangerous.swiper.css" />
      <link rel="stylesheet" type="text/css" href="css/jquery/stapel.css" />
      
      <!-- jquery plugins & modules -->
      <script type="text/javascript" src="js/jquery/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-sanitize.min.js"></script>

	<script type="text/javascript" src="js/jquery/jquery.swipebox.js"></script>
	<script type="text/javascript" src="js/jquery/idangerous.swiper-2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery/readmore.js"></script>
    
    <script type="text/javascript" src="js/jquery/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.stapel.js"></script>
     <script type="text/javascript" src="js/jquery/jquery.validate.min.js"></script>
	<script src="js/jquery/jquery.kinetic.js" type="text/javascript" charset="utf-8"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />
    
    <title>Powerfull Club</title>
    
    <!-- PHONEGAP AUTO INCLUDE -->
    <script src="phonegap.js"></script>
</head>

<body ng-app="powerfullApp">
<div id="main-bg-wrapper"><img src="images/appbg-480x800.jpg" /></div>
   <div id="header">
   	   <h2 class="header-title"></h2>
      <div class="gohome radius20"><a href="#"><img src="images/icons/home.png" alt="" title="" /></a></div>
      <div class="gomenu radius20"><a href="#" onClick="swiperParent.swipeTo(10);"><img src="images/icons/contact.png" alt="" title="" /></a></div>
      
  </div>
  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
    
<!--Menu page-->
      <div class="swiper-slide sliderbg_menu">
      <div class="swiper-container swiper-vertical-main">
      		<div class="swiper-wrapper">
      			<div class="swiper-slide">
      					<div class="logo"><a href="#"><img src="images/mobile-logo.png" alt="" title="" border="0" /></a></div>
		                <div class="menu">
			                <ul>
			                	<li><a href="#" onClick="swiperParent.swipeTo(1);"><img src="images/menu_icons/clubs.png" alt="" title="" /><span>Kulüpler</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(2);" class="menu-btn btn-calendar"><img  class="icon" src="images/menu_icons/calendar.png" alt="" title="" /><span class="title">Ders Programı</span><span class="notification"></span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(3);" class="menu-btn btn-member"><img src="images/menu_icons/user.png" alt="" title="" /><span class="title">Üyelere Özel</span><span class="notification"></span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(4);"><img src="images/menu_icons/albums.png" alt="" title="" /><span>Etkinlikler</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(5);"><img class="menu-img-identification" src="images/menu_icons/identification.png" alt="" title="" /><span>Winner Card</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(6);"><img class="menu-img-academy" src="images/menu_icons/powerfullacademy.png" alt="" title="" /><span>Powerfull Academy</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(7);"><img src="images/menu_icons/sendmail.png" alt="" title="" /><span>Sizi Dinliyoruz</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(8);"><img src="images/menu_icons/medical.png" alt="" title=""  style="max-width: 100%;" /><span>&nbsp;</span></a></li>
			                	<li><a href="#" onClick="swiperParent.swipeTo(9);"><img  class="menu-img-news" src="images/menu_icons/news.png" alt="" title="" /><span>Duyurular</span></a></li>
			                </ul>
			                <div class="clearfix"></div>
		                </div>
      			</div>
      			<div class="swiper-slide">
      				<div class="fit-image"><img src="images/slides/slide-1.jpg" /></div>
      			</div>
      			<div class="swiper-slide">
      				<div class="fit-image"><img src="images/slides/slide-2.jpg" /></div>
      			</div>
      			<div class="swiper-slide">
      				<div class="fit-image"><img src="images/slides/slide-3.jpg" /></div>
      			</div>
      		</div>
      </div>
          		
      </div>
      
<!--Page 1 content-->
      <div class="swiper-slide sliderbg" data-title="Kulüpler">
      <div class="pages_container">
        <div class="swiper-container swiper-nested1 vertical-container">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                            <div class="toogle_wrap radius8">
                                <div class="trigger"><a href="#">Powerfull Caddebostan<img src="images/club1.jpg"></a></div>
                                <div class="toggle_container">
                                    <ul class="listing_detailed">
                                        <li>Türkiye'de ilk olan; fonksiyonel egzersizler yapabileceğiniz CrossCamp Stüdyosu.</li>
                                        <li>Müthiş bir ses sistemi.</li>
                                        <li>Kapalı otopark imkanı.</li>
                                        <li>Uzman ve profesyonel eğitmen kadrosu.</li>
                                        <li>Olimpiyatların sponsoru Technogym ekipmanları ile egzersiz keyfi.</li>
                                        <li>Fitness sektöründeki yeni trendleri yakalayan ve uygulayan stüdyo dersleri.</li>
                                        <li>Spor dışındaki zamanlarda vakit geçirebileceğiniz sosyal aktivite alanları (Masa Tenisi ve Play Station)</li>
                                        <li>Çipli sistemle takip edilen havlular sayesinde, havlunun kaç kez yıkanıp, yıprandığını tespit edip hijyen kontrolünün sağlanması.</li>
                                        <li>Spor yaparken size özel ekranlar sayesinde TV seyredebilirsiniz.</li>
                                        <li>Dolap kilidini taşımanız gerekmez, dolabınızı elektronik olarak dilediğiniz şifreyle kilitleyebilirsiniz.</li>
                                        <li>Havlu,peştamal ve içme suyu ücretsiz olarak sağlanır.</li>
                                        <li>Spora fırsat bulamadığınız zamanlarda üyeliğinizi dondurabilirsiniz.</li>
                                        <li>Habersiz kalmazsınız! Tesisle ilgili haberler e-posta ve sms ile size bildirilir.</li>
                                        <li>Şampuan, vücut losyonu, nemlendirici krem, jöle, saç düzleştiricisi, fön makinası ve bakım ürünlerini ücretsiz olarak kullanabilirsiniz.</li>
                                    </ul>                                            
                                </div>
                            </div>
                    </div>
                    <div class="swiper-slide"> 
                            <div class="toogle_wrap radius8">
                                <div class="trigger"><a href="#">Powerfull Fenerbahçe<img src="images/club2.jpg"></a></div>
                                <div class="toggle_container">
                                    <ul class="listing_detailed">
                                        <li>Deniz manzarası ile birlikte spor yapabileceğiniz ilk ve tek spor merkezi</li>
                                        <li>Müthiş bir ses sistemi.</li>
                                        <li>Olimpiyatların sponsoru "Technogym Selection" serisi spor ekipmanları ve her aletin üzerinde bulunan Power Control (bilgisayarlı antrenör) cihazlarıyla spor yapabilme imkanı.</li>
                                        <li>Balanced Body patentli pilates chair aleti ile birlikte pilatesin grup çalışması olarak verildiği tek spor klübü.</li>
                                        <li>Her üyeye özel olarak hazırlanmış egzersiz programı ile birlikte ek ücret ödemeden personal training hizmeti.</li>
                                        <li>Son derece hijyenik bir ortamda konusunda uzman eğitmenlerle egzersiz yapma imkanı.</li>
                                        <li>Fenerbahçe'nin bol oksijenli ortamında içerdeki havanın sürekli olarak taze kalması ile birlikte daha sağlıklı spor yapabilme imkanı.</li>
                                    </ul>     
                                </div>
                            </div>
                    </div>
                   <div class="swiper-slide"> 
                        <div class="toogle_wrap radius8">
                            <div class="trigger"><a href="#">Powerfull Angora<img src="images/club3.jpg"></a></div>
                            <div class="toggle_container">
                                <ul class="listing_detailed">
                                    <li>Deniz manzarası ile birlikte spor yapabileceğiniz ilk ve tek spor merkezi</li>
                                    <li>Müthiş bir ses sistemi.</li>
                                    <li>Olimpiyatların sponsoru "Technogym Selection" serisi spor ekipmanları ve her aletin üzerinde bulunan Power Control (bilgisayarlı antrenör) cihazlarıyla spor yapabilme imkanı.</li>
                                    <li>Balanced Body patentli pilates chair aleti ile birlikte pilatesin grup çalışması olarak verildiği tek spor klübü.</li>
                                    <li>Her üyeye özel olarak hazırlanmış egzersiz programı ile birlikte ek ücret ödemeden personal training hizmeti.</li>
                                    <li>Son derece hijyenik bir ortamda konusunda uzman eğitmenlerle egzersiz yapma imkanı.</li>
                                    <li>Fenerbahçe'nin bol oksijenli ortamında içerdeki havanın sürekli olarak taze kalması ile birlikte daha sağlıklı spor yapabilme imkanı.</li>
                                </ul>     
                            </div>
                        </div>    
                 </div>
                 <div class="swiper-slide"> 
                                        <div class="toogle_wrap radius8">
                                            <div class="trigger"><a href="#">Eğitmenlerimiz<img src="images/club-trainers.jpg"></a></div>
                                            <div class="toggle_container">
                                                <div class="trainers">
                                                    <ul>
                                                        <!-- <li><img src="images/trainers/uifaces1.jpg" alt="" title="" /><div>Ali Koşucu</div></li>
                                                        <li><img src="images/trainers/uifaces2.jpg" alt="" title="" /><div>Sibel Tezcan</div></li>
                                                        <li><img src="images/trainers/uifaces3.jpg" alt="" title="" /><div>Eğitmen 3</div></li>
                                                        <li><img src="images/trainers/uifaces4.jpg" alt="" title="" /><div>Eğitmen 4</div></li>
                                                        <li><img src="images/trainers/uifaces5.jpg" alt="" title="" /><div>Eğitmen 5</div></li>
                                                        <li><img src="images/trainers/uifaces6.jpg" alt="" title="" /><div>Eğitmen 6</div></li>
                                                        <li><img src="images/trainers/uifaces7.jpg" alt="" title="" /><div>Eğitmen 7</div></li>
                                                        <li><img src="images/trainers/uifaces8.jpg" alt="" title="" /><div>Eğitmen 8</div></li>
                                                        <li><img src="images/trainers/uifaces9.jpg" alt="" title="" /><div>Eğitmen 9</div></li> -->
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>   
                                            </div>
                                        </div>  
                                        
                                        <div class="clearfix"></div>
      									<div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                                        <!--End of page container-->
                    </div>
              </div>
            </div>
         </div>
     </div>
      
<!--Page 2 content-->
      <div class="swiper-slide sliderbg" data-title="Ders Programı">
        <div class="pages_container">
            <div class="swiper-container swiper-nested2 vertical-container">
                <div class="swiper-wrapper" ng-controller="calendarController">
                        <div class="swiper-slide">  
                           <div class="inline-error-box radius8" ng-show="showInternalError" ng-click="hideMessageBox()">{{errorStatus}}</div>
                            <div class="toogle_wrap_blog radius8">
                                <div class="trigger_blog"><a href="#">{{currentLocation}}</a></div>
                                    <div class="toggle_container_blog">
                                        <ul class="listing_detailed">
                                            <li class=" radius4" ng-repeat="location in data" ng-click="toggleDays($index)"><span class="tag">{{location.title}}</span></li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="swiper-slide"> 
                            <ul class="listview  radius8 shadow" ng-show="showDayList">
                                <li ng-class="{'list-first-child' : $index==0,'list-last-child' : $index==groups.length-1}" class="list-btn  icon-carat-r" ng-repeat="days in daysData" ng-click="getDayData($index)"><span  >{{days.title}}</span></li>
                            </ul>
                            
                            <div ng-show="showDayDetail">
                            <div class="shadow radius8"><a ng-click="toggleDaysBlocks(true)" class="list-btn btn-back radius8">Haftanın Günleri</a></div>
                            <ul class="listview  radius8 shadow" >
                                <li ng-class="{'list-first-child' : $index==0,'ui-last-child' : $index==groups.length-1}" class="list-btn calendar-detail " ng-repeat="detail in details">{{detail}}</li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
     </div>
     
<!--Page 3 content-->
      <div class="swiper-slide sliderbg" data-title="Üyelere Özel">
        <div class="pages_container member-page">
            <div class="swiper-container swiper-nested3 vertical-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    	<div id="memberController" ng-controller="memberController">
                        	<div class="inline-error-box radius8" ng-show="showInternalError" ng-click="hideMessageBox()">{{errorStatus}}</div>
                            <div ng-show="showLoginButton"  class="image_caption darkblue green_borderbottom radius4">Tekrar Giriş Yapın</div>
                    		<div ng-show="isBusy" class="loading"><img src="images/loader.gif" /></div>
                            
                    			<div ng-show="viewUserInfo" class="viewUserInfo">
                    				<div class="member-info-panel radius8 shadow" >
                                        <div class="top-frame">
                                        	<div class="deleteinfo" ng-click="deleteAll()"></div>
                                        	<div class="refreshinfo" ng-click="reloadAll()"></div>
                                            <div class="member-id">Üye Kayıt No : {{MembersInfo.OzelKod}}</div>
                                        </div>
                                        <div class="user-headline">
                                        	<div class="user-headline-wrapper">
                                                <div class="user-headline-wrapright">
                                                    <div class="user-headline-right">
                                                        <div class="user-headline-data">
                                                            <div class="name">{{MembersInfo.Adi}} {{MembersInfo.Soyadi}}</div>
                                                            <div class="mail">{{MembersInfo.Email}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user-headline-left">
                                                    <img ng-src="data:image/jpeg;base64,{{MembersInfo.Resim}}" class="member-info-img radius200" />
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <ul class="listview  radius8 shadow viewMenu" ng-show="viewMenu">
                                    <li class="list-first-child" ng-click="showMemberDetailPage()">
                                        <a class="list-btn  icon-carat-r">Üyelik Bilgilerim</a>
                                    </li>
                                    <!-- <li ng-click="showSportsProgram()">
                                        <a class="list-btn  icon-carat-r">Spor Programım</a>
                                    </li> -->
                                    <li ng-click="showSportsProgramDetail()">
                                        <a class="list-btn  icon-carat-r">Spor Programı</a>
                                    </li>
                                    <!-- <li ng-click="showSportsProgramCardio()">
                                        <a class="list-btn  icon-carat-r">Cardio Programı</a>
                                    </li> -->
                                    <li ng-click="showSportsProgramMeasurement()">
                                        <a class="list-btn  icon-carat-r">Ölçümlerim</a>
                                    </li>
                                </ul>
									
                                <div class="viewMemberDetail" ng-show="viewMemberDetail">
                                    <div class="shadow radius8"><a class="list-btn btn-back radius8" ng-click="showMemberPage()">Ana Menüye Dön</a></div>
                                    <div class="clearfix"></div>
                                    <ul class="listview  radius8 shadow" >
                                        <li class="list-first-child" >
                                            <span class="list-btn">Sozlesme Tarihi : {{MemberDetail.SozlesmeTarihi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Baslangic Tarihi : {{MemberDetail.BaslangicTarihi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Bitis Tarihi : {{MemberDetail.BitisTarihi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Uyelik Tipi : {{MemberDetail.UyelikTipi}}</span>
                                        </li>
                                        <li class="list-last-child" >
                                            <span class="list-btn">Uyelik Grubu : {{MemberDetail.UyelikGrubu}}</span>
                                        </li>
                                    </ul>
                                </div>
                    			
                                <div ng-show="viewSportsProgram">
                                    <div class="shadow radius8"><a class="list-btn btn-back radius8" ng-click="showMemberPage()">Ana Menüye Dön</a></div>
                                    <div class="clearfix"></div>
                                    <ul class="listview  radius8 shadow" >
                                        <li class="list-first-child" >
                                            <span class="list-btn">Baslangic Tarihi : {{SportsProgram.BaslangicTarihi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Bitis Tarihi : {{SportsProgram.BitisTarihi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Aciklama : {{SportsProgram.Aciklama}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Notlar : {{SportsProgram.Notlar}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">ProgramTipi : {{SportsProgram.ProgramTipi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Pazartesi Cardio : {{SportsProgram.PazartesiCardio}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Sali Cardio : {{SportsProgram.SaliCardio}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Carsamba Cardio : {{SportsProgram.CarsambaCardio}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Persembe Cardio : {{SportsProgram.PersembeCardio}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Cuma Cardio : {{SportsProgram.CumaCardio}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Cumartesi Cardio : {{SportsProgram.CumartesiCardio}}</span>
                                        </li>
                                        <li class="list-last-child" >
                                            <span class="list-btn">Pazar Cardio : {{SportsProgram.PazarCardio}}</span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
    <div class="scrolltop radius20">
    	<a href="#" class="scrolltop1">
        	<img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" />
        </a>
    </div>
                                </div>

								<div ng-show="viewSportsProgramDetail">
                                    <div class="btn-page-scroll shadow radius8">
                                    	<a class="list-btn btn-back radius8" ng-click="showMemberPage()">Ana Menüye Dön</a>
                                    </div>
                                    <div class="clearfix"></div>
                                    		<div class="swiper-sport-detail">
                                            		<div class="inner">
                                                            <table class="sport-program-detail-table">
                                                                    <tr><th>Gün</th><th>Kas Grubu</th><th>Hareket</th><th>Set</th><th>Tekrar</th><th>S. Arası(sn)</th></tr>
                                                                    <tr ng-repeat="item in SportsProgramDetailList"><td>{{item.Gun}}</td><td>{{item.KasGrubu}}</td><td>{{item.Hareket}}</td><td>{{item.PSet}}</td><td>{{item.Tekrar}}</td><td>{{item.SetArasi}}</td></tr>
                                                            </table>
                                                      </div>
                                    		</div>
                                    
                                    <!-- <ul class="listview  radius8 shadow" >
                                        <li class="list-first-child" >
                                            <span class="list-btn">Sira No : {{SportsProgramDetail.SiraNo}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Gun : {{SportsProgramDetail.Gun}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">PSet : {{SportsProgramDetail.PSet}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Tekrar : {{SportsProgramDetail.Tekrar}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Kas Grubu : {{SportsProgramDetail.KasGrubu}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Hareket : {{SportsProgramDetail.Hareket}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Makine No : {{SportsProgramDetail.MakineNo}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Kg : {{SportsProgramDetail.Kg}}</span>
                                        </li>
                                        <li class="list-last-child" >
                                            <span class="list-btn">Set Arasi : {{SportsProgramDetail.SetArasi}}</span>
                                        </li>
                                    </ul> -->
                                    <div class="clearfix"></div>
    <div class="scrolltop radius20">
    	<a href="#" class="scrolltop1">
        	<img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" />
        </a>
    </div>
                                </div>
                                
                                <div ng-show="viewSportsProgramCardio">
                                    <div class="btn-page-scroll shadow radius8">
                                    	<a class="list-btn btn-back radius8" ng-click="showMemberPage()">Ana Menüye Dön</a>
                                        <div class="btn-page-scrollback" ng-click="SPCBackward()"></div>
                                        <div class="btn-page-scrollforward" ng-click="SPCForward()"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <ul class="listview  radius8 shadow" >
                                        <li class="list-first-child" >
                                            <span class="list-btn">Sira No : {{SportsProgramCardio.SiraNo}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Gun : {{SportsProgramCardio.Gun}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Makine Adi : {{SportsProgramCardio.MakineAdi}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Sure : {{SportsProgramCardio.Sure}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Hiz : {{SportsProgramCardio.Hiz}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">Egim : {{SportsProgramCardio.Egim}}</span>
                                        </li>
                                        <li>
                                            <span class="list-btn">RPM : {{SportsProgramCardio.RPM}}</span>
                                        </li>
                                        <li class="list-last-child" >
                                            <span class="list-btn">Calisma : {{SportsProgramCardio.Calisma}}</span>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
    <div class="scrolltop radius20">
    	<a href="#" class="scrolltop1">
        	<img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" />
        </a>
    </div>
                                </div>
                    			
             <div ng-show="viewSportsProgramMeasurement">
  <div class="btn-page-scroll shadow radius8">
        <a class="list-btn btn-back radius8" ng-click="showMemberPage()">Ana Menüye Dön</a>
        <div class="btn-page-scrollback" ng-click="SPMBackward()"></div>
        <div class="btn-page-scrollforward" ng-click="SPMForward()"></div>
    </div>
    <div class="clearfix"></div>
    <ul class="listview  radius8 shadow" >
    	<li  class="list-first-child"><span class="list-btn">İşlem Tarihi  : {{SportsProgramMeasurement.ISLEM_TARIHI}}</span></li>
       <li ><span class="list-btn">İşlem Saati  : {{SportsProgramMeasurement.ISLEM_SAATI}}</span></li>
       <li ><span class="list-btn">Kayıt Tipi : {{SportsProgramMeasurement.OLCUM_KAYIT_TIPI}}</span></li>
       <li ><span class="list-btn">Boy  : {{SportsProgramMeasurement.HEIGHT}}</span></li>
       <li ><span class="list-btn">Kilo : {{SportsProgramMeasurement.WEIGHT}}</span></li>
    	<li ><span class="list-btn">BMI  : {{SportsProgramMeasurement.BMI}}</span></li>
        <li ><span class="list-btn">BMR (kcal)  : {{SportsProgramMeasurement.BMR_KCAL}}</span></li>
        <li ><span class="list-btn">BMR (kj)  : {{SportsProgramMeasurement.BMR_KJ}}</span></li>
        <li ><span class="list-btn">Yağ (%)  : {{SportsProgramMeasurement.FAT_PERCENT}}</span></li>
        <li ><span class="list-btn">Yağ (kg)  : {{SportsProgramMeasurement.FAT_MASS}}</span></li>
        <li ><span class="list-btn">Kas (FFM) : {{SportsProgramMeasurement.FFM}}</span></li>
       <li ><span class="list-btn">Su  (TBW)  : {{SportsProgramMeasurement.TBW}}</span></li>
    </ul>
    <div class="clearfix"></div>
    <div class="scrolltop radius20">
    	<a href="#" class="scrolltop1">
        	<img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" />
        </a>
    </div>
</div>

                    	</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 <!--Page 4 content-->    
      <div class="swiper-slide sliderbg"  data-title="Etkinlikler">
        <div class="swiper-container swiper-nested">
          <div class="pages_container">
          	   <div class="swiper-container swiper-nested4 vertical-container">
               <div class="swiper-wrapper">
               <div class="swipe-slide">
               		<div class="toogle_wrap_activity  radius8">
                                <div class="trigger_activity"><a href="#">Gelecek Etkinlikler</a></div>
                                    <div class="toggle_container_activity">
                                        <ul class="listing_detailed">
                                            <li class="toggle-activity-content-1 radius4"><span class="tag">Gelecek Etkinlikler</span></li>
                                            <li class="toggle-activity-content-2 radius4"><span class="tag">Geçmiş Etkinlikler</span></li>
                                        </ul>
                                    </div>
                            </div>
               </div>
               <div class="swiper-slide"> 
               		<div class="activity-content-1">
                    		<div class="portfolio_item radius8" style="width:auto !important;">
                                 <div class="portfolio_image" style="width:auto !important;"><a title="Aktivite Preview" class="swipebox" href="images/apple-touch-icon.png" rel="gallery-1">
                                 <img border="0" title="" alt="" src="images/apple-touch-icon.png" style="width:auto !important;"></a></div>
                            </div>
                            
                    </div>
               		<div class="activity-content-2">
               			 <div class="gallery-wrapper">
                
					<!-- <div class="topbar-wrapper">
					    <div class="wrap-title">
					        <div class="title"><h3 id="name"></h3></div>
					    </div>
					    <div id="close" class="back-btn"></div> 
					</div> -->
                    
                     <div id="close" class="btn-page-scroll shadow radius8" style="margin-bottom:10px;">
                        <a class="list-btn btn-back radius8" id="name"></a>
                        <div class="btn-page-scrollback" ></div>
                     </div>
					<div class="clearfix"></div>
					
					<ul class="tp-grid" id="tp-grid" style="min-width: 6px; margin-left: 0px; height: 0px;">
						<li  data-pile="Yılbaşı">
                              <a href="images/activity/1/1.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/1.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/2.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/2.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/5.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/5.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/6.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/6.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/7.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/7.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/8.JPG"  class="swipebox" rel="g1"><img alt=""  src="images/activity/1/8.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/9.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/9.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/11.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/11.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/12.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/12.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/13.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/13.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/15.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/15.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/17.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/17.JPG"></a>
                        </li><li  data-pile="Yılbaşı" >
                              <a href="images/activity/1/20.JPG"  class="swipebox" rel="g1"><img alt="" src="images/activity/1/20.JPG"></a>
                        </li><li  data-pile="Masa Tenisi" >
                              <a href="images/activity/3/masa-tenisi-1.jpg"  class="swipebox" rel="g2"><img alt="" src="images/activity/3/masa-tenisi-1.jpg"></a>
                        </li><li  data-pile="Masa Tenisi" >
                              <a href="images/activity/3/masa-tenisi-2.jpg"  class="swipebox" rel="g2"><img alt="" src="images/activity/3/masa-tenisi-2.jpg"></a>
                        </li><li  data-pile="Masa Tenisi" >
                              <a href="images/activity/3/masa-tenisi-3.jpg"  class="swipebox" rel="g2"><img alt="" src="images/activity/3/masa-tenisi-3.jpg"></a>
                        </li><li  data-pile="Masa Tenisi" >
                              <a href="images/activity/3/masa-tenisi-4.jpg"  class="swipebox" rel="g2"><img alt="" src="images/activity/3/masa-tenisi-4.jpg"></a>
                        </li><li  data-pile="Masa Tenisi" >
                              <a href="images/activity/3/masa-tenisi-5.jpg"  class="swipebox" rel="g2"><img alt="" src="images/activity/3/masa-tenisi-5.jpg"></a>
                        </li><li  data-pile="PES Turnuvası" >
                              <a href="images/activity/4/pes2012.jpg"  class="swipebox" rel="g3"><img alt="" src="images/activity/4/pes2012.jpg"></a>
                        </li><li  data-pile="PES Turnuvası" >
                              <a href="images/activity/4/pes2012-1.jpg"  class="swipebox" rel="g3"><img alt="" src="images/activity/4/pes2012-1.jpg"></a>
                        </li><li  data-pile="PES Turnuvası" >
                              <a href="images/activity/4/pes2012-2.jpg"  class="swipebox" rel="g3"><img alt="" src="images/activity/4/pes2012-2.jpg"></a>
                        </li><li  data-pile="PES Turnuvası" >
                              <a href="images/activity/4/pes2012-3.jpg"  class="swipebox" rel="g3"><img alt="" src="images/activity/4/pes2012-3.jpg"></a>
                        </li><li  data-pile="PES Turnuvası" >
                              <a href="images/activity/4/pes2012-4.jpg"  class="swipebox" rel="g3"><img alt="" src="images/activity/4/pes2012-4.jpg"></a>
                        </li>
					</ul>
				</div>
                	</div>
                </div>
                </div>
              </div>
          </div>
        </div>                            
      </div>
<!--Page 5 content-->
      <div class="swiper-slide sliderbg" data-title="Winner Card">
      <div class="pages_container">
            <div class="swiper-container swiper-nested5 vertical-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide">
                        	<div class="image_single radius4"><img src="images/winner-card.png" alt="" title="" border="0"></div>
                            <h3>POWERFULL ATHLETIC CLUB ÜYELERİ HER ZAMAN KAZANIYOR..!</h3>
                            <p>Powerfull Athletic Club'ta; "Sağlıklı Yaşam"a dair yapacağınız harcamalarda puanlar kazanacak, biriktirdiğiniz puanları Powerfull Athletic Club'lar da harcayacaksınız…</p>
                            <ul class="listing">
                                    <li>2 Yıllık Üyelik: <font  color="#990000" ><b>₺ 100 Para Puan;</b></font></li>
                                    <li>1 Yıllık Üyelik: <font  color="#990000" ><b>₺ 50 Para Puan;</b></font></li>
                                    <li>6 Aylık Üyelik: <font  color="#990000" ><b> ₺ 30 Para Puan;</b></font></li>
                                    <li>25 Seans Özel Ders Paketi: <font  color="#990000" ><b>₺ 50 Para Puan;</b></font></li>
                                    <li>15 Seans Özel Ders Paketi: <font  color="#990000" ><b>₺ 30 Para Puan;</b></font></li>
                                    <li>Arkadaşınızı tesisimize üye yaparak:<font  color="#990000" ><b> ₺ 25 Para Puan </b></font>Kazanabilirsiniz</li>
                          </ul>
                          <p>Kartınızda biriken para puanları 6 Aylık ve üzeri süreli üyeliklerimizde, 15 , 25 ve 50 Seans Özel Ders paketlerimizde kullanabilirsiniz…</p>
                          <h5><font  color="#990000" ><b>Winner Card ile üye işyerlerimizde de kazanacaksınız..!</b></font></h5>
                          <p>Winner Card ile üye işyerlerimizde, anında % 30'a varan indirimler sizleri bekliyor…</p>
                        </div>
                        <div class="swiper-slide">  
                            <ul class="winner-card-wrapper" ng-controller="winnerCardController">
                               <li ng-repeat="item in data"  index="$index" ng-model="name" ng-click="toggleDetail($event,$index,item)">
                                   <img src="http://caddebostan.powerfullclub.com/services.php?action=ximage&sourcePath={{item.image}}&canvasColor=%23FFFFFF&resizeOperator=fillcolor&publishWithUID=1&width=140&height=140" alt="{{item.title}}" />
                               </li>
                         
                              <div id="winner-card-prev-panel">
                                <h4>{{prevdata.title}}</h4>
                                <p ng-bind-html="prevdata.desc"></p>  
                                <span class="close" ng-click="closePanel()"></span>
                              </div>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <div class="clearfix"></div>
                            <div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                        </div>
                  </div>
            </div>
        </div>
     </div>
     
<!--Page 6 content-->
      <div class="swiper-slide sliderbg" data-title="Powerfull Akademi">
        <div class="pages_container akademi_container">
            <div class="swiper-container swiper-nested6 vertical-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide">  
                            <img src="images/akademi-page.jpg" />
                        </div>

                        <div class="swiper-slide">
                            <div class="clearfix"></div>
                            <div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                        </div>
                  </div>
            </div>
            
        </div>
     </div>
<!--Page 7 content-->
      <div class="swiper-slide sliderbg" data-title="Sizi Dinliyoruz">
      <div class="pages_container">
      <div class="swiper-container swiper-nested7 vertical-container">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    	<h2 id="Note" style="display: block;" class="success">Aşağıdaki Formu Göndererek Bize Mail Atabilirsiniz.</h2>
                            <div class="form">
                                     <form action="" method="post" id="CommentForm" class="cmxform" novalidate="novalidate">
                                                    <label>İsim:</label>
                                                    <input type="text" class="form_input radius4 required" value="" id="ContactName" name="ContactName">
                                                    <label>E-posta:</label>
                                                    <input type="text" class="form_input radius4 required email" value="" id="ContactEmail" name="ContactEmail">
                                                    <label>Mesaj:</label>
                                                    <textarea cols="" rows="" class="form_textarea radius4 textarea required" id="ContactComment" name="ContactComment"></textarea>
                                                    <input type="submit" value="Gönder" id="submit" class="form_submit radius4 green green_borderbottom" name="submit">
                                                    <input type="hidden" value="isim@domain.com" name="to" class="">
                                                    <input type="hidden" value="İletişim mesajınız." name="subject" class="">
                                                    <label style="display:none;" id="loader"><img id="LoadingGraphic" alt="Loading..." src="images/loader.gif"></label>
                                       </form>
                                  </div>
                              </div>
                    </div>
              </div>
     </div>
     </div>
<!--Page 8 content-->
      <div class="swiper-slide sliderbg" data-title="Medical Fitness">
      <div class="pages_container">
      <div class="swiper-container swiper-nested8 vertical-container">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">

                                                    <h2 class="post_title">MEDICAL FITNESS</h2>
                                                    <div class="image_single radius4"><img src="images/medical.jpg" alt="" title="" border="0"></div>
                                                    <h3>Medical Fittness'in Faydaları</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam velit sapien, eleifend in tempus volutpat, posuere ullamcorper augue. Proin dignissim risus ut quam aliquam dignissim. In erat elit, bibendum vitae commodo vitae, bibendum non justo.<br><br> Nunc erat eros, cursus et commodo vitae, pulvinar ac libero. Nullam et scelerisque erat. Cras vestibulum justo eget lorem semper ac facilisis nulla porta.</p>
 
                                        <!--End of page container-->
                       </div>
                    </div>
              </div>
     </div>
     </div>
<!--Page 9 content-->
      <div class="swiper-slide sliderbg" data-title="Duyurular">
        <div class="pages_container akademi_container">
            <div class="swiper-container swiper-nested9 vertical-container">
                <div class="swiper-wrapper">
                        <div class="swiper-slide">  
                            <ul ng-controller="newsController" class="news">
                            	<li ng-repeat="item in data" class="article-wrapper">
							        <div class="image">
							            <img src="http://caddebostan.powerfullclub.com/services.php?action=ximage&sourcePath={{item.image}}&canvasColor=%23FFFFFF&resizeOperator=fillcolor&publishWithUID=1&width=90&height=90" />
							        </div>
							        <div class="article-content">
							            <h5>{{item.title}}</h5>
							            <p ng-bind-html="item.desc" class="desc"></p>
							        </div> 
							    </li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <div class="clearfix"></div>
                            <div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                        </div>
                </div>
            </div>
            
        </div>
     </div>

<!--Page 10 content
      <div class="swiper-slide sliderbg" data-title="Twitter">
        <div class="pages_container">
            <div class="swiper-container swiper-nested10 vertical-container">
                <div class="swiper-wrapper">
                
                        <div class="swiper-slide">  
                            <ul ng-controller="twitterController">
                            	<li ng-repeat="item in data">
                            		<div>{{timeAgo(item.created_at)}}</div>
							        <p ng-bind-html="ify.clean(item.text)"></p>
							    </li>
                            </ul>
                        </div>

                        <div class="swiper-slide">
                            <div class="clearfix"></div>
                            <div class="scrolltop radius20"><a href="#" class="scrolltop1"><img src="images/icons/top.png" alt="Sayfa Başı" title="Sayfa Başı" /></a></div>
                        </div>
                </div>
            </div>
            
        </div>
     </div>
     -->
<!--Page 11 content-->
      <!-- <div class="swiper-slide sliderbg" data-title="Facebook">
        <div class="pages_container">
            <div class="swiper-container swiper-nested11 vertical-container">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">  
                       FACEBOOK CONTENT
                   </div>
                </div>
            </div>
            
        </div>
     </div> -->
 
<!--Page 12 content-->
      <div class="swiper-slide sliderbg" data-title="İletişim">
        <div class="pages_container">
            <div class="swiper-container swiper-nested12 vertical-container">
                <div class="swiper-wrapper">
                   <div class="swiper-slide" ng-controller="contactController">
                   	  <div class="contact-group">
                      	<form name="contact-search-form" ng-show="viewSearchField">
                        	<input id="contact-search" class="clearable form_input radius4" type="text" name="" value="" placeholder="Arama Yap" ng-model="query" ng-change="onSearch()"/>
                        </form>
                        
						<ul class="listview  radius8 shadow" ng-show="viewSearchList">
                         <li ng-class="{'list-first-child' : $index==0,'ui-last-child' : $index==groups.length-1}" ng-repeat="contact in contacts | filter:query" ng-click="showDetail($event,$index,contact)">
							<a class="list-btn  icon-carat-r">{{contact.title}}</a>
						 </li>
                      	</ul>
                      	
                   	  	<ul class="listview  radius8 shadow" ng-show="viewGroup">
                         <li ng-class="{'list-first-child' : $index==0,'ui-last-child' : $index==groups.length-1}" ng-repeat="group in groups" ng-click="showPersons($event,$index,group)">
							<a class="list-btn  icon-carat-r">{{group.title}}</a>
						 </li>
                      	</ul>
                        
                        <div class="contacts-list" ng-show="viewContacts">
                        	<div class="shadow"><a class="list-btn btn-back radius8" ng-click="showGroup()">Kategorilere Geri Dön</a></div>
	                      	<ul class="listview  radius8 shadow" >
	                      		<li ng-class="{'list-first-child' : $index==0,'list-last-child' : $index==data.length-1}" ng-repeat="person in persons" ng-click="showDetail($event,$index,person)">
	                            	<a class="list-btn  icon-carat-r">{{person.title}}</a>
	                            </li>
	                      	</ul>
                        </div>
                        
                        <div ng-show="viewDetail" class="contact-detail">
                        	<div class="shadow"><a class="list-btn btn-back radius8" ng-click="showPersons(null,null,pListData)">Listeye Geri Dön</a></div>
	                      	<ul class="listview  radius8 shadow" >
	                      		<li class="list-first-child"><a class="list-btn">{{details.label}}</a></li>
	                      		<li><a class="list-btn  icon-carat-r" href="tel:{{details.tel}}">{{details.tel}}</a></li>
	                      		<li><a class="list-btn  icon-carat-r" href="mailto:{{details.mail}}">{{details.mail}}</a></li>
	                      		<li><a class="list-btn  icon-carat-r"  href="{{details.mail}}" target="_blank">{{details.web}}</a></li>
	                      		<li class="list-last-child"><a class="list-btn ">{{details.address}}</a></li>
	                      	</ul>
                      	</div>
                   	  </div>
                      
                   </div>
 
                </div>
            </div>
            
        </div>
     </div>
     
     <!--End of pages--> 

    </div>
    <div class="pagination"></div>
  </div>

 	<div id="footer-menu">
        <div class="btn-call-phone">
            <div class="btn-footer">
            	<a href="tel:+90216567171" style="color:#fff !important;"><img src="images/footer_icons/phone.png"><div class="clearfix"></div><div>Arama Yap</div></a>
            </div>
        </div>
        <div class="btn-twitter">
            <div class="btn-footer">
                <img src="images/footer_icons/twitter.png"><div class="clearfix"></div><div>Twitter</div>
            </div>
        </div>
        <div class="btn-facebook">
            <div class="btn-footer">
            	<img src="images/footer_icons/facebook.png"><div class="clearfix"></div><div>Facebook</div>
            </div>
        </div>
        <div class="btn-contact">
            <div class="btn-footer">
            	<img src="images/footer_icons/instagram.png"><div class="clearfix"></div><div>Instagram</div>
            </div>
        </div> 
    </div>


	<script src="js/app.js"></script>
	<script src="js/data.js" charset="UTF-8"></script>
	<script type="text/javascript">  
		function ajaxContact(theForm) {
			var $ = jQuery;
			$('#loader').fadeIn();
			var formData = $(theForm).serialize(),
			note = $('#Note');
			$.ajax({
				type: "POST",
				url: "contact-send.php",
				data: formData,
				success: function(response) {
					if ( note.height() ) {			
						note.fadeIn('fast', function() { $(this).hide(); });
					} else {
						note.hide();
					}
					$('#LoadingGraphic').fadeOut('fast', function() {
					//$(this).remove();
					if (response === 'success') {
						$('#formtitle').hide();
					}
					// Message Sent? Show the 'Thank You' message and hide the form
					result = '';
					c = '';
					if (response === 'success') { 
						result = 'Mesajınız başarı ile gönderilmiştir.!';
						c = 'success';
					} else {
						result = response;
						c = 'error';
					}
				note.removeClass('success').removeClass('error').text('');
				var i = setInterval(function() {
					if ( !note.is(':visible') ) {
						note.html(result).addClass(c).slideDown('fast');
						clearInterval(i);
					}
				}, 40);    
		}); // end loading image fadeOut
		}
		});
		return false;
		}
</script>  
</body>
</html>
