body{
	color:#5e5e5e;
	background-color:#fff;
	
}

#main-bg-wrapper {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	overflow: hidden;
	
}

#main-bg-wrapper img{
	width:100%;
	height:auto;
}
a, span.tag{color:#4a8d09;}
a.view_details{ background:url(images/bullet_cross.png) no-repeat left; }
a.button_11, a.button_12{color:#FFFFFF;}
#header{ background:#000 url(images/titlebar-bg.png) top center no-repeat; background-size:cover; color:#FFFFFF;}
.logo{ text-align:center; margin:auto; padding:25px 0 15px 0;font-size:30px;}
.logo img{max-width:75%;}
.logo, .logo a{ color:#FFFFFF;}


/* ------------------------- UI -------------------*/
.input-wrapper {
	color:#333;
	background-color: #fff;
	border-color:#ddd;
	text-shadow: 0 1px 0 #f3f3f3;
}

.input-search input { 
	color:inherit;
}

.input-search:after {
	 background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E");
}

.input-clear {
	display:none;
}

.listview {
	background-color:#0a2329;
}

.list-btn {
	color:#fff;
	font-weight:700;
	font-size:14px;
	cursor:pointer;
}

/* Google web font
/*------------------------------------------*/
h1, h2, h3, h4, h5, h6, .logo, .image_caption, a.button_12, a.button_11, .trigger a, .trigger_blog a, .post_left, .post_right_unreveal, #loadMore, #showLess, a.backtoblog, .form label, .form_submit, a.call_button, a.map_button{font-family: 'Lato', sans-serif;}
h2.page_title{color:#5e5e5e;}

/* Menu style
/*------------------------------------------*/
.menu{ width:100%; padding:0px;margin:0px 0 50px 0;}
.menu ul{ list-style:none; padding:0px; margin:0px; width:100%;}
.menu ul li{ list-style:none; margin:1% 0 2% 4%; padding:4.5% 0; width:28%;height:auto; float:left; display:block; text-align:center;
background-image: url(images/transparent_circle.png);
background-repeat: no-repeat;
background-position: center center; 
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.menu ul li a{ color:#FFFFFF; text-decoration:none;  text-align: center;} 
.menu ul li a span{ display:block; text-align:center; font-size:11px; line-height:15px;}
.menu ul li img{ display:inline-block;max-width:50%;}

/* Footer Menu style
/*------------------------------------------*/
#footer-menu {background-color: #081c21;}
#footer-menu .btn-footer {background-color: #0a2329;}
#footer-menu .btn-footer.active {background-color: #0c2931;}

/* Trainers style
/*------------------------------------------*/
.trainers{ width:100%; padding:0px;margin:0px 0 50px 0;}
.trainers ul{ list-style:none; padding:0px; margin:0px; width:100%;}
.trainers ul li{ list-style:none; margin:1% 0 2% 4%; padding:5.5% 0; width:28%;height:auto; float:left; display:block;}
.trainers ul li img{ display:inline-block;width:100%;}
.trainers ul li div{ display:block; width:100%; text-align:center; font-size:11px; line-height:15px;}


.sliderbg_menu{} 
.sliderbg{ background-color:#ececec;}

.scrolltop{ background-color:#d66911;}
.gohome{ background-color:#061c21; border:1px solid #0b313a;}
.gomenu{ background-color:#061c21; border:1px solid #0b313a;}

.pages_container{ margin:60px 2.5%; background-color:#ffffff; padding:20px 2.5%; border:1px #dddddd solid; width:90%; height:400px;}


.toogle_wrap{border:1px #ececec solid;}
.trigger{background:url(images/toggle_blog.png) no-repeat right;background-position:100% -22px;}
.active {background-position:100% 0px; }
.trigger a{color: #636363;}
.trigger a:hover, .trigger a:hover:focus{color:#4a8d09;}
.toogle_wrap_blog{background-color:#0e3139;}
.trigger_blog{background:url(images/toggle_blog.png) no-repeat right;background-position:100% -22px;}
.activeb {background-position:100% 0px; }
.trigger_blog a{color: #fff;}
.trigger_blog a:hover, .trigger_blog a:hover:focus{color:#fff;}

.image_single{ background-color:#f4f4f4; border:1px solid #ececec;}
blockquote{border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
ul.listing_detailed li {background:url(images/bullet_checked.png) no-repeat left #f4f4f4; background-position:10px 5px;}

ul.photo_gallery_13 li, ul.photo_gallery_12 li, ul.photo_gallery_11 li{border:1px #e5e5e5 solid;border-bottom-color:#d0cfcd;}

ul.photo_gallery_13_round li{border:1px #e5e5e5 solid;}

/* ------- gallery ----------------------------*/

.gallery-wrapper .topbar-wrapper .wrap-title .title {
	background-color:#0c2931;
}
.gallery-wrapper .topbar-wrapper .wrap-title .title h3 {
	color:#fff;
	font-size:22px;
	line-height: 32px;
}

.gallery-wrapper .topbar-wrapper .back-btn{
   background: url(images/back-btn.png) center center no-repeat;
   cursor:pointer;
}

/*--------- calendar style ----------------*/
ul.cdays li.day {background-color: #164a56; color:#fff;}
ul.cdays li.day a {color:#fff; width: 100%; display: block;}


/* -------- akademi style --------------------------*/
.akademi_container {
    padding:0px;
    width:95%;
}
.akademi_container img {
    width:100%;
}

/*------------- post style-------------------*/

.post_left{color:#FFFFFF;background-color:#85af5d;
-moz-border-radius-topleft:8px;-webkit-border-top-left-radius:8px;border-top-left-radius:8px;
-moz-border-radius-bottomleft:8px;-webkit-border-bottom-left-radius:8px;border-bottom-left-radius:8px;
}
.post_right_reveal{background-color:#f4f4f4;}
.post_right_unreveal{color:#FFFFFF;background-color:#85af5d;}
.post_right_unreveal a{color:#FFFFFF;}
a.post_more{background:url(images/bullet_cross_big.png) no-repeat center center #e2e2e2;
-moz-border-radius-topright:8px;-webkit-border-top-right-radius:8px;border-top-right-radius:8px;
-moz-border-radius-bottomright:8px;-webkit-border-bottom-right-radius:8px;border-bottom-right-radius:8px; text-align:center;
}
a.activep{background:url(images/bullet_cross_big_close.png) no-repeat center center #e2e2e2;}
span.post_comments{background:url(images/comments.png) no-repeat left;}
a.post_readmore{background:url(images/bullet_cross_white.png) no-repeat left;}
#loadMore, #showLess, a.backtoblog{background-color:#b2b2b2;color:#FFFFFF;}
.comment_row{border-bottom:1px #ddd solid;}

.videocontainer{border:1px #e5e5e5 solid;border-bottom-color:#d0cfcd;}

.portfolio_item{border:1px #ececec solid;}
.portfolio_details h4{color:#4a8d09;}

.service_box, .client_row{border-bottom:1px #ddd solid;}
.services_icon{background-color:#b2b2b2;}

ul.responsive_table li:first-child{background-color:#85af5d;color:#FFFFFF;}

li.table_row{background-color:#e6e6e6;}
.tweet li{border:1px #ececec solid;}

.form label.error{color:#990000;}
.form_input, .form_textarea{border:1px #ddd solid;}
.form_submit{color:#fff;}


a.call_button{ background:url(../../images/icons/phone.png) no-repeat left #85af5d; border-bottom:3px #759a51 solid;color:#fff;}
a.map_button{ background:url(../../images/icons/map_pin.png) no-repeat left #29aae3;border-bottom:3px #198bbd solid;color:#fff;}

